@font-face {
  font-family: "DOSGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DepartureMono-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/DepartureMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.benner {
  width: 100vw;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: -3px 15px 24px -7px rgba(105, 105, 105, 0.75);
  -webkit-box-shadow: -3px 15px 24px -7px rgba(105, 105, 105, 0.75);
  -moz-box-shadow: -3px 15px 24px -7px rgba(105, 105, 105, 0.75);
  background-color: #353b48;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  margin-left: 150px;
  font-size: 55px;
  font-family: "DepartureMono-Regular";
  font-weight: 900;
  color: white;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  color: black;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 170px;
  font-family: "DOSGothic";
  font-size: 25px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.menu_text {
  transition: 0.3s;
}

.logo > i {
  font-size: 45px;
}

.menu_text:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .benner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    gap: 20px;
  }
  .logo {
    margin-left: 0;
  }

  .menu {
    margin-right: 0;
  }
}
